:root {
  --light-blue-white: #e1e9f1;
  --charcoal-grey: #2b3039;
  --dark-charcoal-grey: #1d2027;
  --windows-blue: #3473c6;
  --dark-sky-blue: #3c81de;
  --pale-grey: #f5f6fa;
  --link-water: #cad0d7;
  --cadet: #95a4b3;
  --steel: #818995;
  --slate: #5b6a7d;
  --faded-orange: #ef6765;
  --alert-yellow: #ffe276;
  --slightly-productive-color: #7dabe9;
  --slightly-distracting-color: #f6abaa;
}
